html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  user-select: none;
}
#root {
  background-color: beige;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  user-select: none;
}

.img {
  width: 70px;
  height: 70px;
  user-select: none;
  z-index: 5;
}

.selection-area {
  position: absolute;
  background-color: rgba(166, 228, 247, 0.5);
  z-index: 100;
  width: 10px;
  height: 10px;
  user-select: none;
}
.select-area {
  position: absolute;
  background-color: rgba(4, 252, 37, 1);
  z-index: 10;
  width: 10px;
  height: 10px;
  user-select: none;
  border-radius: 100%;
}
